<form action="/create-new-link" method="post">
  <label for "player_name"> Enter URL:
  <input type="text" name="url" />
  <label for "player_name"> Enter title:
  <input type="text" name="title" />
  <input type="submit" value="Submit" />
</form>
